/* arquivo css para formatação do cite da cafeteria*/
/* aplicar a formatação a todos os elementos. usaremos o asterisco(*) */

* {
  /* zerar as margens externas dos elementos */
  margin: 0;
  /* zerar as margens internas dos elementos */
  padding: 0;
  /* ajuste das caixas(box) dos elementos */
  box-sizing: border-box;
}
header {
  height: 300px; /*altura da caixa*/
  /*adicionar uma imagem ao fundo*/
  background-image: url("../img/cafe6.jpg");
  /*ajustar a largura da imagem em 100% */
  background-size: 100%;
  /* ajustar a posição em x e y da imagem de fundo */
  background-position: 0 -300px;
  /* animação no fundo */
  transition: ease 1s;
  padding-top: 200px;
}
h1 {
  text-align: center;
  font-family: "Verdana";
  color: rgb(85, 42, 165);
  /* aplicar uma sombra no texto */
  text-shadow: 10px 10px 5px black;
}
nav {
  background-color: white;
  text-align: center;
}
nav ul li {
  /* dispor os itens da lista(li) em linha */
  display: inline-block;
  /* aumentar a distancia entre os elementos */
  padding: 30px;
  transition: ease 0.5s;
}
/* ao passar o mause sobre o link o fundo link deve altera a sua cor */
nav ul li:hover {
  background-color: burlywood;
}

nav ul li a {
  font-family: "verdana";
  font-size: 10pt;
  color: rgb(7, 6, 1);
  /* retirar o underline do link */
  text-decoration: none; /*nenhum*/
}
footer {
  height: 300px; /*altura em 300px*/
  background-color: rgb(39, 16, 16);
  color: blanchedalmond;
  font-family: "arial";
  padding-top: 50px;
  /* dispor de forma flexivel e em linha */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer div {
  width: 20%;
}

#redes ul li {
  display: inline-block;
  margin-left: 10px;
}
#redes ul li a img {
  width: 40px;
  height: 40px;
}
/* --------------inicio do css home------------ */
h2 {
  font-family: "arial";
  font-size: 20px;
  margin: 50px;
  /* ------------borda da tarde inferior(bottom) do h2----------- */
  border-bottom: 1px solid tomato;
  width: 500px;
}
#home p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "verdana";
  font-size: 12pt;
  line-height: 30pt; /*espaçamento entre linhas*/
  text-align: justify;
}

#imghome {
  text-align: center;
}

#imghome img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 100px;
  opacity: 0.7;
  transition: ease 0.5s;
  /* mudar o ponteiro do mause para uma mão */
  cursor: pointer;
}
#imghome img:hover {
  transform: scale(1.2);
  opacity: 1;
}
/* ----------fim do estilo da home------- */

/* -----------inicio do estilo da historia------------ */
#historia p {
  width: 70%;
  font-family: arial;
  font-size: 12pt;
  line-height: 30pt;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

#imghistoria {
  text-align: center;
}

#imghistoria img {
  width: 150px;
  height: 150px;
  margin: 10px;
}

iframe {
  width: 80%;
  height: 500px;
  margin: 20px;
}
/* --------fim do historia------ */

/* -------inicio do cardapio-------- */

h3 {
  font-family: arial;
  font-size: 40pt;
  margin: 30px;
}

#linha {
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*quebra de linha*/
  box-shadow: 2px 2px 10px black;
  justify-content: center;
}

#linha div {
  width: 30%;
  margin: 10px;
  border: 1px solid silver;
}

#linha div img {
  width: 100%;
  height: 300px;
}

#linha div h4 {
  font-family: arial;
  font-size: 15pt;
  margin: 10px;
}

#linha div p {
  font-family: arial;
  font-size: 15pt;
  color: red;
  margin: 10px;
  font-weight: bold;
}
